:root {
    --branding-color:rgb(24, 3, 66);
    --secondary-color: #afd3e5;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body{
    color: var(--heading-font-family);
    background-color: rgb(24, 3, 66);
}

h1 {
    color: var(--heading-font-family);
    font-family: "Poppins", serif;
    font-weight: bold;
    font-size: 55px
}
/* 
P {
    color: white;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-size: 36px;
    font-weight: normal;
}    */
.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 20px;
    /* font-weight: bold; */
    margin: 0;
    color: #272142;
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 23px;
}

.hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 2;
    font-size: 24px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    font-family: "Poppins", serif;
}