:root {
  --branding-color: rgb(24, 3, 66);
  --secondary-color:white;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 64px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h6 {
    color: var(--heading-font-family);
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 1;
}

p {
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 54px;
  line-height: 90px;
  text-align: center;
}

.content h2 {
  font-size: 30px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 30px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content h4 {
  font-size: 30px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content h5 {
  font-size: 30px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 17px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}

footer {
    text-align: center;
    font-family: var(--default-font-family);
    font-size: 13px;
    margin-top: 90px;
    /* color: white; */
}
